* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

/********************/

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 49%;
  width: 40px;
  height: 40px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header1 {
    font-size: 3.2rem;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    padding: 6rem 3.5rem 2rem 0;
  }

  .whatsNew {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    padding: 2rem 1rem 3rem 0;
  }
}

.innerDiv {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #41414173;
  border-radius: 5px;
  position: relative;
  bottom: 0;
  transition: 0.5s;
}

.innerDiv:hover {
  bottom: 10px;
  box-shadow: 1px 1px 5px #000;
}

.albumTitle {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}
